
.login-page 
{ 
    padding: 140px 0 100px 500px; 
}
.login-text { padding-bottom: 60px; color: #fff; }
.login-text p { margin-top: 20px; font-size: 22px; line-height: 36px; text-shadow: 0 1px 5px rgba(51, 51, 51, 0.4); }
 
.l-form-top {
    overflow: hidden; padding: 0 30px 20px 30px; background: #404040; background: #2B3A42; text-align: left;
}
.l-form-top-left { float: left; width: 80%; padding-top: 30px; }
.l-form-top-left h3 { margin-top: 0; color: #fff; }
.l-form-top-left p { opacity: 0.8; font-size: 18px; line-height: 32px; color: #fff; }
.l-form-bottom { padding: 30px 30px 35px 30px; background: #404040; background: #3F5866 ;text-align: left;}
 
.login-box input[type="text"],
.login-box input[type="password"] {
    height: 52px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 52px;
    color: #888;
}

.login-box button.btn {
    width: 100%;
    height: 52px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #2ba560;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 52px;
    color: #fff
}
