<div class='row'>
    <div class='col-6'><p>
        <button type="button" class="btn" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Calificaciones
        </button>
    </p></div>
</div>

<div class="row">
  <div class="col-12" id="collapse-calificaciones-estudiante" [ngbCollapse]="isCollapsed">
    <table class="table table-hover" style="text-align: center">
      <thead class="thead-light">
      <tr>
        <th *ngIf="listaDe == 'estudiante'">Vivienda</th>
        <th *ngIf="listaDe == 'vivienda'">Estudiante</th>
        <th *ngIf="listaDe == 'vivienda'">Login</th>
        <th>Puntaje</th>
        <th>Descripción</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let calificacion of calificaciones">
        <td *ngIf="listaDe == 'estudiante'">{{calificacion.vivienda.nombre}}</td>
        <td *ngIf="listaDe == 'vivienda'">{{calificacion.estudiante.nombre}}</td>
        <td *ngIf="listaDe == 'vivienda'">{{calificacion.estudiante.login}}</td>
        <td>{{calificacion.puntaje}}</td>
        <td>{{calificacion.descripcion}}</td>
      </tr>
      </tbody>
    </table>
  </div>
   <div class='col-12' style='text-align: center; vertical-align: top' [ngbCollapse]="isCollapsed">
        <a *ngIf="listaDe == 'estudiante'" routerLink='/calificacion/listestudiante/{{calificaciones[0].estudiante.id}}'>
            Editar/Mostrar Todas</a>
    </div>
</div>
