<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Puntaje</th>
                    <th>Descripción</th>   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let e of calificaciones">
                    <td>{{e.puntaje}}</td>
                    <td>{{e.descripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>