<div class="row" style="padding: 40px; padding-top: 20px">
    <div class="col-0 col-md-2 col-lg-3"></div>
    <div class="col-12 col-md-8 col-lg-6" >
        <br>
        <h2 class="text-center">Editar/Eliminar Estudiante</h2>
        <br>
        <form name="estudiante" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="oPassword"><h4>Contraseña Antigua</h4></label>
              <input type="password" name="oPassword" class="form-control" id="oPassword" [(ngModel)]="oldPasswordUser"
                    #oPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && oPassword.invalid }" required>
              <div class="invalid-feedback">
                   <div>Falta la contraseña antigua</div>
              </div>
            </div>
            <div class="form-group">
              <label for="estudianteNombre"><h4>Nombre Nuevo</h4></label>
              <input type="text" name="estudianteNombre" class="form-control" id="estudianteNombre" [(ngModel)]="estudiante.nombre"
                    #estudianteNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && estudianteNombre.invalid }" required>
              <div class="invalid-feedback">
                   <div>Falta el nombre del estudiante</div>
              </div>
            </div>
            <div class="form-group">
              <label for="estudianteLogin"><h4>Login Nuevo</h4></label>
              <input type="text" name="estudianteLogin" class="form-control" id="estudianteLogin" [(ngModel)]="estudiante.login"
                    #estudianteLogin="ngModel" [ngClass]="{ 'is-invalid': f.submitted && estudianteLogin.invalid }" required>
              <div class="invalid-feedback">
                   <div>Falta el login del estudiante</div>
              </div>
            </div>
            <div class="form-group">
              <label for="estudiantePassword"><h4>Contraseña Nueva</h4></label>
              <input type="password" name="estudiantePassword" class="form-control" id="estudiantePassword" [(ngModel)]="estudiante.password"
                    #estudiantePassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && estudiantePassword.invalid }">
            </div>
            <div class="form-group">
                <label for="estudianteUniversidad"><h4>Universidad Nueva</h4></label>
                <input list="universidadesOpciones"  type="text" name="estudianteUniversidad" class="form-control" id="estudianteUniversidad" [(ngModel)]="universidadNombre"
                      #estudianteUniversidad="ngModel" [ngClass]="{ 'is-invalid': f.submitted && estudianteUniversidad.invalid }" required>
                        <datalist id="universidadesOpciones">
                          <option *ngFor="let universidad of universidades" value={{universidad.nombre}}>
                        </datalist>
                <div class="invalid-feedback">
                     <div>Falta la universidad del estudiante</div>
                </div>
            </div>
             <div class="row form-inline justify-content-center align-self-center">
                 
                 <div class="col" style="text-align:center">
                     <button type="submit" class="btn btn-primary" (click)="editEstudiante()"><h4>Editar</h4></button>
                 </div>
                 <div class="col" style="text-align:center">
                    <button type="button" class="btn" (click)="cancelEdition()"><h4> Cancelar </h4></button>
                 </div>
                 <div class="col" style="text-align:center">
                    <button type="submit" class="btn btn-danger" (click)="deleteEstudiante()"><h4>Eliminar</h4></button>
                 </div>
            </div>
        </form>
    </div>
    <div class="col-0 col-md-2 col-lg-3"></div>
</div>