<div class="container">
    <div class="row">

                <button class="btn btn-success" id="botonCrearUniversidad" routerLink="/universidades/create" > Registrar Nueva Universidad</button>
            <br>
    </div>
    
    <div class="row">
        <div class="col-lg-3 col-xs-6" *ngFor = "let universidad of universidades">
           <br>
             <figure class="figure" routerLink="/universidades/{{universidad.id}}" style="cursor: pointer;"> 
                <div class="img-thumbnail border-0">                        
                    <img class="img-fluid " src='{{universidad.imgUrl}}' alt="{{universidad.nombre}}" />                                     
                </div>
                <figcaption class="figure-caption text-center">{{universidad.nombre}}</figcaption>
            </figure>
        </div>   
    </div> 
    
</div>

