<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Login</th>
                    <th>Universidad</th>   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let e of estudiantes">
                    <td>
                        <dd id="estudiante-name" class="figure-caption" routerLink="/estudiante/{{e.id}}"> {{ e.nombre }}</dd>
                    </td>
                    <td>{{e.login}}</td>
                    <td>{{e.universidad.nombre}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>