img{
  padding-top: 2vh;
  width: 50%;
  height: 50%;
  padding-left: auto;
  padding-right: auto;
}

.row{
  margin: auto 3vw;
}

.card-body{
  height: 30vh;
}

.container-fluid{
  padding-top: 5vh;
}

h1{
  text-align: center;
  padding-bottom: 2vh;
}
