<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Servicios Adicionales</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let servicioAdicional of serviciosAdicionales">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/servicios-adicionales/{{servicioAdicional.id}}">{{servicioAdicional.nombre}}</dd>
                    </td>
                  
                </tr>
            </tbody>
        </table>
    </div>
</div>