<div class="row">
<div class="col-lg-3 col-xs-6" *ngFor="let sitioInteres of viviendaDetail.sitiosDeInteres">
  <div class="card">
    <img class="card-img-top" src="{{sitioInteres.img}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{sitioInteres.nombre}}</h5>
      <p class="card-text">{{sitioInteres.descripccion}}</p>
          <div class="card-body text-center" id="interior">
      <button type="button" class="btn btn-warning" routerLink="/sitioInteres/update/{{viviendaDetail.id}}/{{sitioInteres.id}}">Update</button>
      <button type="button" class="btn btn-danger"  routerLink="/sitioInteres/delete/">Delete</button>
          </div>
    </div>
  </div>
</div>
</div>
