<div class="row">
    <div class="col-0 col-md-3"></div>
    <div class="col-12 col-md-6" style="padding: 40px;">
        <br>
        <h2 class="text-center">Calificar Vivienda</h2>
        <br>
        <form name="calificacion" (ngSubmit)="f.form.valid && createCalificacion()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="estudianteLogin"><h4>Login</h4></label>
                <input list="estudiantesOpciones"  type="text" name="estudianteLogin" class="form-control" id="estudianteLogin" [(ngModel)]="calificacion.estudiante.login"
                      #estudianteLogin="ngModel" [ngClass]="{ 'is-invalid': f.submitted && estudianteLogin.invalid }" disabled>
                        <datalist id="estudiantesOpciones">
                          <option *ngFor="let estudiante of estudiantes" value={{estudiante.login}}>
                        </datalist>
                <div class="invalid-feedback">
                     <div>Falta el login del estudiante</div>
                </div>
            </div>
            <div class="form-group">
              <label for="estudiantePassword"><h4>Contraseña</h4></label>
              <input type="password" name="estudiantePassword" class="form-control" id="estudiantePassword" [(ngModel)]="calificacion.estudiante.password"
                    #estudiantePassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && estudiantePassword.invalid }" required>
              <div class="invalid-feedback">
                   <div>Falta la contraseña del estudiante</div>
              </div>
            </div>
            <div class="form-group">
                <label for="puntajeN" id="labPuntaje">
                    <div class="row">
                      <h4 class="col-4">Puntaje</h4>
                      <small id="labPuntaje" class="form-text text-muted col-8" style="vertical-align: bottom; font-size: 15px"> - Número entre 0 y 5</small>
                    </div>
              </label>
              <div class="row">
                <div class="col-3">
                    <input type="number" name="puntajeN" class="form-control" id="puntajeN" [(ngModel)]="calificacion.puntaje"
                          #puntajeN="ngModel" [ngClass]="{ 'is-invalid': (f.submitted && !calificacion.puntaje) || calificacion.puntaje > 5 || calificacion.puntaje < 0}" required>
                    <div class="invalid-feedback" *ngIf="calificacion.puntaje">Entre 0 y 5</div>
                    <div class="invalid-feedback" *ngIf="!calificacion.puntaje">Falta el puntaje</div>
                </div>
                <div class="col-9">
                  <input type="range" name="puntaje" class="custom-range" min="0" max="5" step="0.1" id="puntaje" [(ngModel)]="calificacion.puntaje"
                        #puntaje="ngModel">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="calificacionDescripcion"><h4>Descripción</h4></label>
              <input type="text" name="calificacionDescripcion" class="form-control" id="calificacionDescripcion" [(ngModel)]="calificacion.descripcion"
                    #calificacionDescripcion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && calificacionDescripcion.invalid }">
            </div>
             <div class="row form-inline justify-content-center align-self-center">
                 <div class="col" style="text-align:center">
                     <button type="submit" class="btn btn-primary"><h4>Calificar</h4></button>
                 </div>
                 <div class="col" style="text-align:center">
                    <button type="button" class="btn btn-danger" (click)="cancelCreation()" routerLink="/viviendas/{{calificacion.vivienda.id}}"><h4> Cancelar </h4></button>
                 </div>
            </div>
        </form>
    </div>
    <div class="col-0 col-md-3"></div>
</div>