<nav id="navbarToggler" class="navbar navbar-expand-xl navbar-dark navbar-collapse">
  <a routerLink="">
    <img src="../assets/img/logo.png" alt="Logo Casa">
  </a>
  <a class="navbar-brand" routerLink="">UniVivienda</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar-content" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/viviendas/list">Viviendas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/estudiante/list">Estudiantes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/arrendadores/list">Arrendadores</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/contratos/list">Contratos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/universidades/list">Universidades</a>
      </li>
    </ul>
    <form class="d-flex flex-row">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <ul class="nav d-flex justify-content-center">
      <li class="nav-item">
        <a class="nav-link" id="btnGenerarDatos">
        <button class="btn btn-primary" type="submit" id="botonGenerarDatos" (click)="generarDatos()">Generar
          Datos
        </button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btnIngresar" routerLink="/ingresar/logIn" *ngxPermissionsOnly="['GUEST']">
          <button class="btn btn-pill btn-light">Log in</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btnRegistrar" routerLink="/ingresar/signIn"
           *ngxPermissionsOnly="['GUEST']">
          <button class="btn btn-pill btn-light">Sign in</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btnCuenta" (click)="irCuenta()"
           *ngxPermissionsOnly="['ESTUDIANTE', 'ARRENDADOR']">
          <button class="btn btn-pill btn-success">Cuenta</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btnSalir" (click)="logOut()"
           *ngxPermissionsOnly="['ADMIN', 'ESTUDIANTE', 'ARRENDADOR']">
          <button class="btn btn-pill btn-danger">Salir</button>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="list">
  <router-outlet></router-outlet>
</div>
<div class="signIn">
  <router-outlet></router-outlet>
</div>
