#barra {
  background-color: #011c80;
}
.btn-md.round {
  border-radius: 1.2em;
  background-color: #ff7000;
  color: white;
}

.nav * {
  color: white;
}

.nav-item {
  color: white;
}

.navbar-brand {
  color: white;
}
