#barra {
  background-color: #0c283a;
}
.btn {
  border-color: orangered;
  color: orangered;
}

.btn:hover{
  background-color: orangered;
  color: #0c283a;
}

#botonGenerarDatos{
  margin-right: 20vw;
}

.nav * {
  color: white;
}

.nav-item {
  color: white;
}

.navbar-brand {
  color: white;
}
