<nav id="navbarToggler" class="navbar navbar-expand-xl navbar-dark navbar-collapse">
  <a class="navbar-brand" routerLink="">UniVivienda</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar-content" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/viviendas/list">Viviendas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/estudiante/list">Estudiantes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/arrendadores/list">Arrendadores</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/contratos/list">Contratos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/universidades/list">Universidades</a>
      </li>
    </ul>
    <form class="form-inline">
      <div class="form-group mb-2">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </div>
    </form>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <button class="btn btn-outline-primary" type="submit" id="botonGenerarDatos" (click)="generarDatos()">Generar
          Datos
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="btnIngresar" routerLink="/ingresar/signIn">Ingresar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btnRegistrar" routerLink="/registrarse/logIn">Registrarse</a>
      </li>
    </ul>
  </div>
</nav>
<div class="list">
  <router-outlet></router-outlet>
</div>
<div class="signIn">
  <router-outlet></router-outlet>
</div>
