.img-fluid
{
    width: 100%;
    height: 30vw;
    object-fit: cover;
    padding-bottom: 2vh;
}

.container-fluid{
  padding-right: 15px;
  padding-left: 15px;
  margin: 2% auto;
  min-width: 800px;
}

.row{
  margin: 0;
}

.fa-star{
  width: 5px;
  height: 5px;
  padding: 0;
  color: #ff6504;
}

.btn-small{
  margin-left: 40px;
}

.fa-edit{
  font-size: 20px;
}
#rowTitulo{
  margin-bottom: 2%;
}
#colDerecha{
}

#tituloCuartos{
  margin-top: 20px;
}

#divCalificaciones{
}

#btnEditar{
  margin-left: 20px;
  background-color: orangered;
  border-color: orangered;
}

#sitiosInteres
{
    text-align: center;
    padding-top: 10px;
}
