.img-fluid
{
    width: 100%;
    height: 30vw;
    object-fit: cover;
    padding-bottom: 2vh;
}
.container{
  margin-top: 2vh;
  width: 50%;
  min-width: 800px;
}
.fa-star{
  width: 5px;
  height: 5px;
  padding: 0;
  color: #ff6504;
}
