
<p id="boton">
    <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        Sitios de interes de la Vivienda
    </button>
</p>
<div class="row">
  <div class="col-12" id="collapse-vivienda-sitioInteres" [ngbCollapse]="isCollapsed">
    <table class="table table-hover" style="text-align: center">
      <thead class="thead-light">
      <tr>
        <th>Sitio de Interes</th>
        <th>Descripcción</th>
      </tr>
      </thead>
      <tbody>
      <tr routerLink="/sitioInteres/{{viviendaId}}" style="cursor: pointer;" *ngFor="let sitioInteres of viviendaSitioInteres">
          <td>{{sitioInteres.nombre}}</td>
        
          <td>{{sitioInteres.descripccion}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
