<div class="container-fluid">
  <!--<table class="table table-striped">-->
  <!--<thead class="thead-dark">-->
  <!--<tr>-->
  <!--<th>ID</th>-->
  <!--<th>FechaInicio</th>-->
  <!--<th>FechaFin</th>-->
  <!--<th>ModoPago</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr *ngFor = "let c of contratos">-->
  <!--<td>{{ c.id }}</td>-->
  <!--<td>{{ c.fechaInicio }}</td>-->
  <!--<td>{{ c.fechaFin }}</td>-->
  <!--<td>{{ c.modoPago }}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
  <!--</table>-->
  <div class="row">
    <div class="col-lg-3 col-xs-6" *ngFor="let contrato of contratos">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Contrato {{contrato.id}}</h4>
          <p> <strong>Fecha Inicio: </strong> {{contrato.fechaInicio}} </p>
          <p> <strong>Fecha Fin: </strong> {{contrato.fechaFin}} </p>
          <p><strong>Modo Pago: </strong> {{contrato.modoPago}} </p>
        </div>
      </div>
    </div>
  </div>
</div>
