.card{
  margin-top: 5vh;
}

.card-body p {
  margin: 0;
  padding: 0;
}

.card-body {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#botonCrearContrato {
  text-align: center;
  width: 50vw;
  height: 7vh;
  margin-top: 3vh;
  margin-left: 25vw;
  margin-right: 25vw;
}
