<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Crear un Sitio de Interes</h2>
        <br>
        <form name="sitioInteres" (ngSubmit)="f.form.valid && createSitioInteres()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="sitioInteresName"><b>Nombre</b></label>
                <input type="text" name="sitioInteresName" class="form-control" id="sitioInteresName" [(ngModel)]="sitioInteres.nombre"
                    #sitioInteresName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sitioInteresName.invalid }" required>
                <div class="invalid-feedback">
                    <div>El nombre del Sitio de Interes es obligatorio</div>
                </div>
            </div>
          <label for="sitioInteresDescripcion">Descripción</label>
          <textarea type="text" name="sitioInteresDescripcion" id="sitioInteresDescripcion" form="viviendaForm"
                    class="form-control" rows="6"
                    [(ngModel)]="sitioInteres.descripccion"></textarea>
                        <div class="form-group">
                <label for="sitioInteresImg"><b>Imagen URL</b></label>
                <input type="text" name="sitioInteresImg" class="form-control" id="sitioInteresImg" [(ngModel)]="sitioInteres.img"
                    #sitioInteresImg="ngModel" >
            </div>
                        <div class="form-group">
                <label for="sitioInteresName"><b>Latitud</b></label>
                <input type="text" name="sitioInteresName" class="form-control" id="sitioInteresName" [(ngModel)]="sitioInteres.latitud"
                    #sitioInteresName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sitioInteresName.invalid }" required>
                <div class="invalid-feedback">
                    <div>La latitud es obligatoria</div>
                </div>
            </div>
                        <div class="form-group">
                <label for="sitioInteresName"><b>Longitud</b></label>
                <input type="text" name="sitioInteresName" class="form-control" id="sitioInteresName" [(ngModel)]="sitioInteres.longitud"
                    #sitioInteresName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sitioInteresName.invalid }" required>
                <div class="invalid-feedback">
                    <div>La longitud es obligatoria</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Create</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()" routerLink="/viviendas/list">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>
