<div class="container-fluid">
    <div class="row" ><div class="col"><h1>Registrar</h1></div></div>
    <div class="row">
        <div class="col-2 col-md-3"></div>
        <div class="col-4 col-md-3">
            <button type="button" class="btn" (click)="soyEstudiante = true;"><h3 id="h3">Estudiante</h3></button>
        </div>
        <div class="col-4 col-md-3">
            <button type="button" class="btn" (click)="soyEstudiante = false;"><h3 id="h3"> Arrendador</h3></button>
        </div>
        <div class="col-2 col-md-3"></div>
    </div>
    <div *ngIf="soyEstudiante"><app-estudiante-create (cancel)="terminarRegistro()" (create)="terminarRegistro('Estudiante', $event)"></app-estudiante-create></div>
    <div *ngIf="!soyEstudiante"><app-arrendador-create (cancel)="terminarRegistro()"  (create)="terminarRegistro('Arrendador', $event)"></app-arrendador-create></div>
</div>