
<div class="container">
  <div class="row">
    <button class="btn btn-success" *ngxPermissionsOnly="['ARRENDADOR', 'ADMIN']" id="botonCrearVivienda" routerLink="/viviendas/create">Registrar una vivienda nueva</button>
  </div>
  <div class="row">
    <div class="col-lg-3 col-xs-6" *ngFor="let vivienda of viviendas">
      <div class="card" routerLink="/viviendas/{{vivienda.id}}" style="cursor: pointer;">
        <img class="card-img-top img-responsive" src="{{vivienda.imgUrl}}">
        <div class="card-body">
          <h4 class="card-title">{{vivienda.nombre}}</h4>
          <p><b>{{vivienda.ciudad}}</b></p>
          <p>{{mapeoCalificaciones[vivienda.id]}} <i class="fas fa-star"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>
