<div class="container">
<div class="row">
<div class="col-lg-4 col-xs-6" *ngFor="let sitioInteres of sitiosInteres">
  <div id="sitios">
  <div class="card border-info">
    <img class="card-img-top img responsive" src="{{sitioInteres.getImgUrl()}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{sitioInteres.getNombre()}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Descripcción:</h6>
      <p class="card-text">{{sitioInteres.getDescripccion()}}</p>
    </div>
    </div>
     </div>
</div>
</div>
    </div>
