<div class="container" style="margin: auto">
  <h1>Crear Contrato</h1>
  <form name="contrato" id="contratoForm" (ngSubmit)="f.form.valid && crearContrato()" #f="ngForm" novalidate>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-5">

          <label for="contratoNombreVivienda">Nombre Vivienda</label>
          <input type="text" name="contratoNombreVivienda" class="form-control" id="contratoNombreVivienda"
                 [(ngModel)]="vivienda.nombre">

          <label for="contratoNombreCuarto">Nombre Cuarto</label>
          <input type="text" name="contratoNombreCuarto" class="form-control" id="contratoNombreCuarto"
                 [(ngModel)]="cuarto.nombre">

          <label for="contratoCosto">Costo Arrendamiento</label>
          <input type="text" name="contratoCosto" class="form-control" id="contratoCosto"
                 [(ngModel)]="costo">

          <label for="nombreEstudiante">Nombre Estudiante</label>
          <input type="text" name="nombreEstudiante" class="form-control" id="nombreEstudiante"
                 [(ngModel)]="estudiante.nombre">

          <label for="nombreArrendador">Nombre Arrendador</label>
          <input type="text" name="nombreArrendador" class="form-control" id="nombreArrendador"
                 [(ngModel)]="contrato.arrendador.nombre">

          <label for="fechaInicio">Fecha Inicio (YYYY-MM-DD)</label>
          <input type="text" name="fechaInicio" class="form-control" id="fechaInicio"
                 [(ngModel)]="contrato.fechaInicio">

          <label for="fechaFin">Fecha Fin (YYYY-MM-DD)</label>
          <input type="text" name="fechaFin" class="form-control" id="fechaFin"
                 [(ngModel)]="contrato.fechaFin">

          <div class="form-group">
            <label for="metodosPago">Metodo de Pago</label>
            <select class="custom-select" name="metodosPago" id="metodosPago" [(ngModel)]="metodoPago"
                    #rolef="ngModel" [ngClass]="{ 'is-invalid': f.submitted && rolef.invalid }" required>
              <option [value]="metodoPago" *ngFor="let metodoPago of metodosPago">{{metodoPago}}</option>
            </select>
          </div>
        </div>


      </div>
    </div>
    <div align="right">
      <button id="btn_registrar" type="submit" class="btn btn-primary"><strong>Registrar</strong></button>
      <button id="btn_cancelar" type="button" class="btn btn-danger" (click)="cancelCreation()"><strong>
        Cancelar </strong></button>
    </div>

  </form>

</div>
