<div class="card text-center">
  <h5 class="card-header">Perfil</h5>
  <div class="card-body text-center">
    <div class="d-flex justify-content-center">
      <img class="card-img-top d-flex justify-content-center" src="../../../assets/img/arrendador-user.png"
           alt="Card image cap">
    </div>
    <h5 class="card-title">{{arrendadorDetail.login}}</h5>
    <p class="card-text"><b>Nombre:</b> {{arrendadorDetail.nombre}}</p>
    <div class="d-flex justify-content-center">
      <div *ngIf="arrendadorDetail.viviendas && arrendadorDetail.viviendas.length > 0">
        <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Viviendas
        </button>
        <button *ngIf="puedeEditar" routerLink="/viviendas/create" type="button" class="btn btn-success">Añadir Vivienda</button>
      </div>
      <div *ngIf="!(arrendadorDetail.viviendas && arrendadorDetail.viviendas.length > 0)">
        <h5> No tiene Viviendas
          <button *ngIf="puedeEditar" routerLink="/viviendas/create" type="button" class="btn btn-success">Añadir Vivienda</button>
        </h5>
      </div>

      <button type="button"*ngIf="puedeEditar"  class="btn btn-warning" routerLink="/arrendadores/update/{{arrendadorDetail.id}}">Update
      </button>
      <button type="button" *ngIf="puedeEditar" class="btn btn-danger" (click)="deleteArrendador()">Delete</button>
    </div>

    <div class="row">
      <div class="col" id="collapse-vivienda-sitioInteres" [ngbCollapse]="isCollapsed">
        <table class="table table-hover" style="text-align: center">
          <thead class="thead-light">
          <tr>
            <th>Vivienda</th>
            <th>Descripcción</th>
          </tr>
          </thead>
          <tbody>
          <tr routerLink="/viviendas/{{vivienda.id}}" style="cursor: pointer;"
              *ngFor="let vivienda of arrendadorDetail.viviendas">
            <td>{{vivienda.nombre}}</td>
            <td>{{vivienda.descripcion}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

