<div id="front-page">
  <div class="jumbotron text-center d-flex align-items-center justify-content-center">

    <div>
      <!-- Title -->
      <h2 class="card-title h2">Haz del mundo tu nuevo hogar</h2>
      <!-- Subtitle -->
      <p class="my-4 font-weight-bold">Vende o arrienda una vivienda</p>

      <!-- Grid row -->
      <div class="row d-flex justify-content-center">

        <!-- Grid column -->
        <div class="col-xl-7 pb-2">

          <p class="card-text">Conoce más de nuestra página web y consigue la vivienda que quieras a los mejores
            precios</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <div class="pt-2">
        <a routerLink="/viviendas/list">
          <button type="button" id="btnMoreInfo" class="btn btn-primary btn-rounded">Ver más</button>
        </a>
      </div>
    </div>

  </div>

</div>
